<template>
  <div>
    <div>
      <slot name="activeUser" />
    </div>
    <div>
      <Table ref="listMesages"
             :height="200"
             :no-data-text="$_isDataEmpty()"
             :columns="[
               columnsMessages.id,
               columnsMessages.name,
               columnsMessages.status,
               columnsMessages.role,
               columnsMessages.domain,
               columnsMessages.online]"
             :data="$_statisticsData" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'StatisticShow',
    props: {
      statisticsData: {
        type: Object,
        default: () => { return {} }
      }
    },
    data () {
      return {
        usersStatistics: [],
        columnsMessages: {
        id: {
            title: 'User id',
            key: 'id',
            align: 'left',
            sortable: true,
            width: 100
          },
          name: {
            title: 'User name',
            key: 'name',
            align: 'left',
            sortable: true,
            width: 160
          },
          status: {
            title: 'Status',
            key: 'status',
            align: 'left',
            sortable: true,
            width: 100
          },
          role: {
            title: 'Role',
            key: 'role',
            align: 'left',
            sortable: true,
            width: 100
          },
          domain: {
            title: 'Domain',
            key: 'domain',
            align: 'left',
            sortable: true,
            width: 180
          },
          online: {
            title: 'online/offline',
            key: 'online',
            align: 'left',
            sortable: true,
            width: 140,
            render: (h, params) => {
            return h('span', {
              style: {
                color: params.row.onlineStyle
              }
            }, params.row.online)
          }
          }
        }
      }
    },
    computed: {
      $_statisticsData () {
        return this.$_extractStatisticsData()
      }
    },
    methods: {
      $_getUserInfo (item) {
        return {
          id: item.id,
          name: item.name,
          status: item.status,
          role: item.role,
          domain: item.domain,
          online: item.omline ? 'online' : 'offline',
          onlineStyle: item.omline ? 'green' : 'red'
        }
      },
      $_createListToDisplaying () {
        return Object.values(this.statisticsData).reduce((list, item) => {
          list.push(this.$_getUserInfo(item))
          return list
        }, [])
      },
      $_extractStatisticsData () {
        return this.$_createListToDisplaying()
      },
      $_isDataEmpty () {
        return 'No informations'
      }
    }
}
</script>
