<template>
  <div>
    <div v-if="!$_isCookiesEmpty()" class="align-by-center">
      <h2>Welcome on the authorization page</h2>
      <auth-form
        @onUserAuthorization= "$_sendAuthorizationData" />
    </div>
    <div v-show="$_isCookiesEmpty()" class="align-by-center">
      <StatisticShow :statistics-data="$_statisticsInfo">
        <div slot="activeUser" style="text-align:left; padding-bottom: 15px;">
          <Button type="primary" @click.native="$_userLogout()">Logout</Button>
        </div>
      </StatisticShow>
    </div>
  </div>
</template>

<script>
import WebClient from '../../services/WebClient.js'
import AuthForm from '../../components/views/form/AuthForm.vue'
import StatisticShow from '../../components/views/StatisticShow'
import patterns from '../../configurations/Patterns.js'

export default {
  name: 'UserAuth',
  components: {
    WebClient,
    AuthForm,
    StatisticShow
  },
  data () {
    return {
      statisticsInfo: {},
      cookiesExpires: { expires: 60 * 60 * 12 }
    }
  },
  computed: {
    $_statisticsInfo () {
      return this.statisticsInfo
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.$_isCookiesEmpty()) {
        this.$_getAccountsInfo(this.$_prepareHeaderParams())
      }
      this.$Message.config({
        top: 32,
        duration: 3
      })
    })
  },
  methods: {
    $_isStatus (status) {
      return status === 'OK'
    },
    $_resetAccessData () {
      this.$cookies.remove('userToken')
      this.$cookies.remove('xKey')
    },
    $_isCookiesEmpty () {
      if (this.$cookies.get('userToken') !== null && this.$cookies.get('xKey') !== null) {
        return this.$cookies.get('userToken').length > 0 && this.$cookies.get('xKey').length > 0
      }
      return false
    },
    $_getAccessData (data) {
      this.$cookies.set('userToken', data['token'], this.cookiesExpires)
      this.$cookies.set('xKey', data['key'], this.cookiesExpires)
    },
    $_prepareHeaderParams () {
      return {
        headers: {
          'Content-Type': 'application/json',
          'X-Access-Token': this.$cookies.get('userToken'),
          'X-Key': this.$cookies.get('xKey')
        }
      }
    },
    $_notificationAboutAuthRejected () {
      this.$router.push({ name: 'AuthInformation' })
    },
    $_sendAuthorizationData (params) {
      var url = patterns.linkTo().login
      WebClient.post(url, params, data => {
          this.$_getAccessData(data)
          this.$_getAccountsInfo(this.$_prepareHeaderParams())
      },
      (status, error) => {
        if (status < 0) {
          this.$_notificationAboutAuthRejected()
        }
        console.log(' POST ERROR access denied' + JSON.stringify(error))
      })
    },
    $_getAccountsInfo (params) {
      var url = patterns.linkTo().accounts
      WebClient.getWithParams(url, params, data => {
        if (this.$_isStatus(data['status'])) {
          this.statisticsInfo = data['info']
        }
      },
      (status, error) => {
        console.log(' GET ERROR access denied' + JSON.stringify(error))
      })
    },
    $_userLogout () {
      let params = {
          'X-Access-Token': this.$cookies.get('userToken'),
          'X-Key': this.$cookies.get('xKey')
        }
      var url = patterns.linkTo().logout
      WebClient.post(url, params, data => {
        if (this.$_isStatus(data['status'])) {
          this.$Message.success(data['info'])
          this.$_resetAccessData()
        }
      },
      (status, error) => {
        this.$_resetAccessData()
        console.log(' STATUS ' + status)
        console.log(' POST Logout ERROR ' + JSON.stringify(error))
      })
    }
  }
}
</script>
<style scoped>
  .enter-error {
    color: red;
  }
  .c-index {
    background-color: white;
  }
</style>
