<template>
  <div class="indent">
    <p> If you laizy</p>
    <div class="indent">
      <Button v-clipboard:copy="copyUserName"
              v-clipboard:success="onCopyUsername"
              v-clipboard:error="onError"
              type="primary"
              @click.native="$_isDataToCopy">
        You could copy acting username to clipboard
      </Button>
      <Button v-clipboard:copy="copyPassword"
              v-clipboard:success="onCopyPassword"
              v-clipboard:error="onError"
              type="primary"
              @click.native="$_isDataToCopy">
        You could copy acting password to clipboard
      </Button>
      <div>
        <div class="indent">
          <h3> Enter login details </h3>
          <p>the count chars should be more 8 or less 250</p>
          <div class="indent">
            <Input v-model.trim="username" class="" type="text" placeholder="username" style="width: 300px"/>
            <Input v-model.trim="password" class="" type="password" placeholder="password" style="width: 300px"/>
          </div>
          <div class="indent">
            <Button :class="{isNotvalid: $v.registrationData.$invalid, isValid: !$v.registrationData.$invalid}"
                    type="primary" @click="$_sendToAutorization()">Autorization</Button>
          </div>
        </div>
        <div class="ivu-message"/>
      </div>
</div></div></template>

<script>
import { required } from 'vuelidate/lib/validators'

export default {

 name: 'AuthForm',
  data () {
    return {
      registrationData: {
        isVerify: false,
        $error: false,
        $invalid: false,
        $dirty: false
      },
      username: '',
      password: '',
      copyUserName: 'test@demo.webitel.com',
      copyPassword: 'T2eDYGfhy0rL3nW3'
    }
  },
  validations: {
    registrationData: {
      isVerify () {
        return (this.$_isVerify(this.username) &&
         this.$_isVerify(this.password))
      },
      required
    }
  },
  computed: {
  },
  mounted () {
    this.$Message.config({
      top: 32,
      duration: 3
    })
  },
  methods: {
    $_isDataToCopy () {
      if (this.copyUserName.length === 0) {
        this.onError()
      }
    },
    onCopyPassword: function (e) {
      this.$Message.success('password have copied to clipboard')
    },
    onCopyUsername: function (e) {
      this.$Message.success('username have copied to clipboard')
    },
    onError: function (e) {
      this.$Message.error('Unfortunately there isn\'t data for copy')
    },
    $_isVerify (text) {
      return (text.length >= 8 && text.length <= 250)
    },
    $_sendToAutorization () {
      this.$emit('onUserAuthorization', this.$_prepareDataBeforeSend())
    },
    $_isNotEmpty (text) {
      return text.length > 0
    },
    $_prepareDataBeforeSend () {
     return { 'username': this.username, 'password': this.password }
    }
  }
}
</script>
<style scoped>
  .indent {
   padding-top: 10px;
  }
  .indent p {
    font-size: 15px;
    color:cadetblue;
  }
  .enter-error {
    color: red;
  }
  .c-index {
    background-color: white;
  }
  .isNotvalid {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
  .isValid {
    cursor: pointer;
    pointer-events: visible;
    opacity: 1;
  }
</style>
