<template>
  <div>
    <div v-if="!$_isCookiesEmpty()" class="auth-form">
      <h2 style="color: red;">Warning! </h2>
      <h3>Your the request to authorisation was rejected</h3>
      <div class="indent">
        <Button type="primary" @click.native="$_goToAuthForm">
          Try again
        </Button>
      </div>
    </div>
    <div v-if="$_isCookiesEmpty()">
      <h2 style="color: green;">Authentication is successful </h2>
      <div class="indent">
        <Button type="primary" @click.native="$_goToAuthForm">
          Show statistics
        </Button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AuthInformation',
  data () {
    return {

    }
  },
  computed: {
  },
  methods: {
    $_goToAuthForm () {
      this.$router.push({ name: 'IndexPage' })
    },
    $_isCookiesEmpty () {
      if (this.$cookies.get('userToken') !== null && this.$cookies.get('xKey') !== null) {
        return this.$cookies.get('userToken').length > 0 && this.$cookies.get('xKey').length > 0
      }
      return false
    }
  }
}
</script>
<style scoped>
  .indent {
   padding-top: 10px;
  }
</style>
