<template>
  <div>
    <div>
      <master-panel-component />
    </div>
  </div>
</template>

<script>

import MasterPanelComponent from './../elements/MasterPanelComponent.vue'

export default {
  name: 'IndexPage',
  components: {
    MasterPanelComponent
  }
}
</script>
