// @import '~iview/src/styles/index.less';

// Here are the variables to cover, such as:
@font-family: Arial, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",sans-serif;
@primary-color : #0a66a8; 
@success-color : #0a66a8;
@btn-border-radius: 0px;
@link-color: #0a66a8;
@text-color: #333333;
@info-color: #37b34a;
@tabs-color: #1e1e1e;

@error-color: #e21b46;
@table-thead-bg               : #f4f4f4;
@table-td-stripe-bg           : #e0e0e0;
@table-td-hover-bg            : #e0f7f8;
@table-td-highlight-bg        : #ebf7ff;



