<template>
  <div>
    <div>
      <router-view name="success" />
    </div>
    <div>
      <router-view name="statistic" />
    </div>
    <div>
      <router-view name="rejected" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MasterPanelComponent'
}
</script>
