<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import IndexPage from './components/pages/IndexPage.vue'
export default {
  name: 'App',
  components: {
    IndexPage
  }
}
</script>

<style>
#hello {
  font-family: Verdana;
  color: navy;
}
</style>

<style>
#hello {
  font-family: Verdana;
  color: navy;
}
</style>
